@font-face {
    font-family: 'TT Fors Trial';
    src: url('/fonts/TTForsTrial-Medium.woff2') format('woff2'),
        url('/fonts/TTForsTrial-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

