body
   font-family: "Golos Text", sans-serif
   background: #898991
   font-weight: 400
   font-size: 14px
   line-height: 120%
   color: white
a
   text-decoration: none
   box-sizing: border-box
   transition: 0.5s !important
   &:hover 
      color: $green
.green 
   color: $green
.container
   padding: 0 15px
   max-width: 1308px
   margin: 0 auto
   @media ( max-width: 1199px )
      max-width: 960px
   @media (max-width: 991px)
      max-width: 720px
   @media (max-width: 767px)
      max-width: 540px
.d-flex, .q
   display: flex
.body-wrap
   overflow: hidden
   position: relative
   display: flex
   flex-direction: column
   min-height: 100vh
footer
   margin-top: auto
h1
   margin: 0
   font-size: 48px
   font-weight: 400
   color: #ffffff
   line-height: 65px
   font-family: "PT Mono", monospace
h2 
   margin: 0
   font-size: 48px
   font-weight: 400
   color: #ffffff
   line-height: 65px
   font-family: "PT Mono", monospace
   &.title
      font-size: 80px
      font-weight: 500
      font-family: "Golos Text", sans-serif
      line-height: 100px
      width: 90%
      span 
         color: #898991
ul 
   margin: 0
   padding: 0
   list-style-type: none
p
   margin: 0
.svg, rect, line, circle
   transition: 0.5s ease
a
   transition: color 0.5s ease
   box-sizing: border-box
li
   a
      transition: color 0.5s ease
button
   cursor: pointer
   box-sizing: border-box
textarea
   transition: border 0.5s
   box-sizing: border-box
   &:focus
      transition: border 0.5s
      outline: none
      border: 1px solid $green
input
   transition: 0.5s
   box-sizing: border-box
   border: 1px solid #fff
   &:disabled
      pointer-events: none
      opacity: 0.5
   &:focus 
      border: 1px solid $green 
      transition: 0.5s
   &:focus-visible
      outline: initial
path, g, .svg
   transition: 0.5s
div 
   box-sizing: border-box
.icon 
   transition: fill 0.5s, stroke 0.5s
html * 
   scrollbar-width: thin
   scrollbar-color: blue $green
.popup__bg, .menu2, .tabs__nav
   scrollbar-width: thin
   scrollbar-color: transparent transparent
*::-webkit-scrollbar,
html *::-webkit-scrollbar 
   height: 7px
   width: 7px
*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track 
   background: #E7E7E7
   border-radius: 3px
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb 
   background-color: $green
   border-radius: 6px
.btn 
   display: flex
   align-items: center
   justify-content: center
   transition: 0.5s
   box-sizing: border-box
   width: 275px
   height: 64px
   background: #a7c8d7
   border-radius: 600px
   font-size: 14px
   font-weight: 700
   color: #ffffff
   &:hover 
      color: $green
      background: white
   .svg 
      margin-left: 20px