
@media screen and (max-width: 1310px)
   .container
      max-width: 1200px !important
   .main__pic
      left: -79px
      width: 116%
   .main__fig2
      left: -134px
   .info .main__fig1 
      width: 468px
      top: -139px
      left: initial
      right: 0
   h2.title
      font-size: 77px
      line-height: 95px
   .info__item
      max-width: 48.8%
   .about__content:after
      bottom: 15px
   .page .sec h2 
      margin-top: 90px
      font-size: 45px
      line-height: 70px
   .area__item
      padding: 60px
   .lic .swiper3 .swiper-wrapper .swiper-slide 
      width: 369px !important
      height: auto
   .contacts__info #map
      max-width: 70%
   .news__item:nth-child(3), .news__item:nth-child(4)
      width: 42.5%
@media screen and (max-width: 1199px)
   .container
      max-width: 960px !important
   .nav
      padding: 54px 0
   .main__play
      display: none
   .main 
      overflow: hidden
      padding: 20px 0 60px
   .main__wrap h1
      margin-bottom: 339px
   .main__fig1 
      top: 189px
      left: -128px
   .main__fig2 
      left: -281px
      bottom: -190px
   .main__pic 
      width: 95%
      left: 23px
      bottom: -41px
   .info 
      padding: 60px 0 30px
   .info .title:before
      display: none
   h2.title
      font-size: 50px !important
      line-height: 80px !important
   .info .title
      width: 82%
      margin-bottom: 60px
      background: #141414
   .info .main__fig1
      top: -144px
   .info__link
      display: none
   .info__top
      margin-bottom: 30px
   .info__item 
      height: 530px
      padding: 54px 40px 0px
      max-width: 48.4%
   .info__row:before
      display: none
   .info__item h4
      font-size: 30px
      line-height: 36px
   .about
      padding: 100px 0 60px
   .about__content
      margin-top: 284px
   .about__btn
      position: relative
      margin-top: 90px
   .team
      padding: 60px 0
   .team__top
      flex-direction: column
   .team .arrows
      display: none
   .team .swiper1
      width: 90%
      overflow: visible
      margin-top: 25px
   .team__top p
      margin-top: 25px
   .team .swiper1 .swiper-slide
      min-height: 447px
      padding: 50px 36px 36px
   .team__wrap:before
      display: none
   .exp
      padding: 120px 0 60px
   .exp .main__fig1
      top: -52px
   .exp__row
      flex-wrap: wrap
      justify-content: space-between
      margin-top: 30px
      gap: 30px
      width: 100%
   .exp__item h3
      font-size: 70px
      line-height: 70px
   .exp__item
      width: 48%
   .order
      padding-top: 60px
   .order__top
      flex-direction: column
   .order__form
      margin-top: 44px
      max-width: 100%
   .order__form button
      margin-top: 60px
   .order__images:after
      display: none
   .order__images 
      margin-top: -44px
      margin-left: -30px
      gap: 46px
      justify-content: center
   .footer
      padding-bottom: 59px
      padding-top: 54px
      .container 
         position: relative
   .footer__bottom
      align-items: flex-start
      flex-direction: column
   .about__content:after
      display: none
   .footer__row
      margin-bottom: 48px
      flex-direction: column
   .footer__area img:first-child
      margin-bottom: 34px
   .footer__content
      gap: 50px 0
      margin-top: 50px
   .footer__flex
      margin-bottom: 77px
      flex-direction: column
      align-items: flex-start
   .footer__com 
      bottom: 0
      display: flex
      position: absolute
      top: inherit
      align-items: flex-start
      right: 0
      z-index: 5
      flex-direction: column
   .footer__bottom div
      flex-direction: column
   .footer__bottom div a:first-child
      margin: 26px 0
   .footer__com p 
      margin-top: 20px
      padding-left: 0
      margin-left: 0
      letter-spacing: 2px
      border-left: none
   .footer__bottom:before 
      content: ""
      display: block
      width: 100%
      height: 2px
      bottom: 136px
      left: 0
   .menu2
      padding: 125px 26px
      width: 100%
   .page 
      .exp__wrap
         display: flex
         flex-direction: column 
         h1 
            order: 1 
         .exp__row
            order: 3
         h2 
            order: 2
   .page 
      .policy__wrap
         display: flex
         flex-direction: column 
         .policy__list
            order: 2
   .page .exp__wrap h2
      margin-top: 60px
   .area__item 
      padding: 60px 40px
   .lic .swiper3 .swiper-wrapper
      flex-wrap: nowrap
   .lic .swiper3 .swiper-wrapper .swiper-slide
      width: 455px !important
   .page .contacts .exp__wrap h1, .page .news .exp__wrap h1
      order: initial
   .contacts__info
      margin-top: 60px
      flex-direction: column
   .contacts__block
      width: 100%
      margin-top: 20px
   .contacts__info #map
      max-width: 100%
   .news__item
      width: 48% !important
   .news-item article, #news-item article
      margin-left: 0
   .news-item article p, #news-item article p
      margin-top: 30px
   .art .arrows
      display: none
   .art .team__wrap
      margin-left: 0
   .catalog .tabs__nav
      margin-bottom: 50px
   .catalog .tabs__pane h1
      margin-bottom: 30px
   .catalog__item
      width: 48.5%
   .card__item 
      width: 26%
      padding: 60px 30px 40px
   .card .swiper5 .swiper-slide img
      max-width: 100%
   .note
      flex-direction: column 
      align-items: flex-start
      width: 375px
      padding: 40px 30px
      left: 5%
      margin-left: 0
   .note__info
      max-width: 100%
      margin-bottom: 25px
   .note__close
      width: 131px
   .note__close:nth-child(2)
      margin-left: 10px
@media ( max-width: 991px )
   input, textarea, select
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
   .container
      max-width: 720px !important
   .main__pic
      bottom: 26px
   .info .title
      width: 65%
   .info__item
      max-width: 100%
   .exp__item
      width: 47%
   .bread
      margin-bottom: 60px
   .page .exp__wrap h2
      margin-top: 50px
   .area__item 
      padding: 60px 64px
      width: 100%
      height: 465px
   .area__box
      margin-bottom: 50px
   .area__wrap .swiper2 
      width: 100%
      margin: 30px 0 40px
      .swiper-wrapper 
         flex-direction: column
   .area__wrap .swiper2 .swiper-slide
      width: 100% !important
      margin-bottom: 20px
      padding: 40px 30px
      &:last-child
         margin-bottom: 0
   .area
      padding-bottom: 60px
   .lic
      padding: 60px 0
   .lic h2
      margin-bottom: 30px
   .lic .swiper3 .swiper-wrapper .swiper-slide
      width: 305.5px !important
   .lic .swiper3
      overflow: visible
      width: 90%
   .contacts .footer__item
      width: 100%
   .contacts__block
      height: auto
      padding: 40px 50px
   .contacts__info #map
      height: 318px
   .news__row
      margin-top: 30px
      gap: 40px 0px
   .news__item img
      height: 257px
   .news__nav
      margin-top: 60px
      margin-bottom: 50px
   .catalog__item
      width: 100%
   .catalog__info
      padding: 0
   .catalog__row
      &:nth-child(n+3)
         p 
            font-size: 12px
   .catalog__row:last-child
      margin-bottom: 25px
   .card__item 
      width: 48% !important
   .thanks__row
      flex-direction: column 
      align-items: flex-start
   .thanks__content h1
      margin-bottom: 20px
   .thanks__btn 
      width: 100%
      margin-top: 200px
   .thanks__content 
      img 
         &:first-of-type
            display: none
   .thanks img:nth-child(2)
      right: 0
      left: initial
      display: block
      width: auto
      height: auto
      bottom: 250px
@media screen and (max-width: 767px)
   h1 
      line-height: 54px
   .nav__box 
      position: relative
   .nav__list
      display: none
   .menu-btn, .menu
      display: block
   .menu-btn 
      width: 28px
      height: 28px
      position: absolute
      right: 0px
      top: 8px
      z-index: 11
      overflow: hidden
      background: url(/img/bur1.svg) no-repeat center center
      &.active 
         right: 26px
         top: 60px
         position: fixed
         background: url(/img/bur2.svg) no-repeat center center !important
   .menu 
      position: fixed
      top: 0
      left: 0
      width: 100%
      height: 100%
      padding: 150px 45px 
      background: #000000
      transform: translateX(-100%)
      transition: transform 0.5s
      z-index: 10
      overflow: hidden
      &.active 
         transform: translateX(0%)
      .nav__list 
         display: block !important
         li
            margin-bottom: 26px
      .back 
         display: flex
         align-items: center
         font-size: 32px
         font-weight: 400
         background: transparent 
         border: none
         font-family: "PT Mono", monospace
         color: #ffffff
         line-height: 32px
         margin-bottom: 50px
         .svg 
            margin-right: 15px
   .container
      padding: 0 26px
      max-width: 540px !important
   .main
      padding: 51px 0 60px
   .main__fig1 
      top: 223px
      left: -130px
   .main__wrap h1
      margin-bottom: 343px
   .main__sub
      line-height: 22px
      width: 100%
      max-width: 320px
   .main__pic 
      bottom: initial
      top: 241px
      width: 622px
      left: 50%
      margin-left: -343px
      z-index: 9
   .main__fig2 
      left: -284px
      bottom: -156px
   .info__sub
      margin-bottom: 27px
      font-size: 14px
   h2.title 
      font-size: 38px !important
      line-height: 65px !important
   .info .title
      max-width: 331px
      width: 98%
   .info .main__fig1 
      width: 333px
      top: -90px
      right: -15px
   .info h3
      line-height: 52px
   .info__item h4 
      letter-spacing: 3.5px
      margin: 0 0 10px
      font-size: 24px
      line-height: 30px
   .info__item p 
      margin: 0
      letter-spacing: 1.8px
      font-size: 14px
      line-height: 17px
   .info__row
      gap: 15px
   .info__item 
      overflow: hidden
      height: 268px
      padding: 47px 0px 0px 35px
      img 
         height: auto
         width: 311px
         max-width: initial
         object-fit: contain
         max-height: 203px
         margin-top: 40px
         position: absolute
         left: 50% 
         margin-left: -155px
         bottom: 0
      &:last-child, &:nth-child(2)
         img 
            max-width: 276px
            margin-left: -138px
      &:nth-child(2), &:nth-child(4)
         img
            bottom: 60px
   .about 
      padding: 84px 0 60px
   .about__content
      margin-top: 268px
   .about__content p
      width: 100%
      max-width: 303px
   .about__btn 
      width: 100%
      position: relative
      margin-top: 115px
   h2 
      line-height: 56px
   .team__top p 
      margin-top: 21px
      max-width: 311px
   .team .swiper1 .swiper-slide
      min-height: 403px
   .exp .title
      width: 100%
      max-width: 338px
      br 
         display: none
   .exp .main__fig1
      top: -61px
   .exp__row 
      margin-top: 41px
      gap: 43px 0
      width: 100%
   .exp__item h3 
      font-size: 65px
      line-height: 71px
   .exp__item p 
      width: 100%
      max-width: 139px
      margin-top: 20px
      font-size: 14px
   .exp__item
      width: 45%
   .order__area p 
      margin-top: 24px
      line-height: 32px
   .order__images 
      margin-top: 15px
      margin-left: -30px
      gap: 10px
      img 
         width: 114px
   .footer__item
      width: 100%
   .footer__content 
      gap: 59px 0
      margin-top: 56px
   .footer__flex
      .nav__list 
         gap: 14px
         width: 100%
         max-width: 320px
         display: flex
         flex-wrap: wrap
   .footer__row
      margin-bottom: 53px
   .footer__bottom div a:first-child 
      margin: 26px 0 20px
   .footer__com
      bottom: 3px
      right: 20px
   .footer__bottom:before
      bottom: 123px
   .page .exp__wrap h2
      margin-top: 40px
      font-size: 35px !important
   .page
      .menu-btn
         background: url(/img/bur-black.svg) no-repeat center center
      .exp .title 
         width: 100%
         max-width: 304px
      h1 
         font-size: 24px
   .area__item:first-child .area__text
      br 
         display: none
   .error__wrap p
      font-size: 16px
      margin-bottom: 30px
      line-height: 20px
   .error__wrap h1
      font-size: 38px
      line-height: 65px
   .news__item
      width: 100% !important
   .news__item p
      margin-top: 18px
   .news__nav
      display: none
   .news 
      padding-bottom: 80px
   .news-item article h2, #news-item article h2
      font-size: 20px !important
      line-height: 36px !important
   .art
      padding-bottom: 100px
   .art .swiper4 
      margin-top: 30px
      overflow: visible
      width: 90%
   .art h2
      font-size: 24px
   .card__top
      height: 341px
   .card__top .swiper-button-prev5
      left: 10px
   .card__top .swiper-button-next5
      right: 10px
   .card__content 
      padding: 20px 0px
   .card__item
      width: 100% !important
   .card__item:nth-child(3n)
      min-height: 338px
@media screen and (max-width: 576px)
   .container
      max-width: 100% !important
   button:active, button:focus 
      outline: none
   button::-moz-focus-inner 
      border: 0
   a:active, a:focus
      outline: none
   input, textarea
      outline: none
   input:active, textarea:active
      outline: none
   input:focusout
      outline: none
   .mm 
      flex-direction: column 
      align-items: center
      justify-content: center
      li 
         margin-bottom: 40px !important
         width: 100% !important
         margin-top: 0 !important
   .mob 
      display: block !important
   .lic .swiper3 .swiper-wrapper .swiper-slide a
      padding: 20px
   .lic .swiper3 .swiper-wrapper .swiper-slide
      width: 100% !important
      max-width: 100%
   .area__item 
      padding: 60px 25px
   .page .exp
      padding-top: 20px
   .page .exp .main__fig1
      top: -104px
   .policy__info p
      margin-bottom: 30px
   .policy__wrap h1
      font-size: 28px
      line-height: 55px
   .error__fig1
      display: none
   .error__fig2
      display: block
   .error__wrap
      margin-top: 20px
   .error
      padding-bottom: 160px
   .error__wrap img 
      margin-left: -193px
      position: absolute
      bottom: -96px
      left: 50%
   .contacts .footer__content
      gap: 40px 0
   .news-item__top, #news-item__top
      height: 257px
   .news-item__info, #news-item__info
      flex-wrap: wrap
      align-items: flex-start
      margin-top: 0
      margin-left: 0
      height: 100%
   .news-item__info p, #news-item__info p
      width: 100%
   .news-item__num, #news-item__num
      margin-left: 10px
      &:first-of-type
         margin-left: 0
   .news-item__num, #news-item__num
      margin-top: auto
   .catalog__top 
      height: 213px
      padding: 20px
   .card 
      .policy__wrap h1
         margin-bottom: 20px
   .card__item
      display: flex
      flex-direction: column 
      align-items: flex-start
      p 
         margin-top: auto
   .note 
      width: 91%
      padding: 40px 30px
      left: 4.5%
   .thanks
      padding-top: 11rem
   .thanks img:nth-child(2)
      bottom: 450px
   .thanks__btn
      margin-top: 234px
   .thanks__content p
      font-size: 13px
      line-height: 33px
@media screen and (max-width: 391px)
   .area__item:first-child .area__title
      font-size: 40px
      line-height: 40px
   .thanks img:nth-child(2)
      bottom: 360px
  